body{
    background: beige;
    color: black;
    text-align: left;
    font-family: 'Arial';
}

#Container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid beige;
    margin: 0 auto;
}

#Container h1
{
  font-size: 20px; 
}

#cabecera
{
    background-color: url("../Images/LichessDown.png") no-repeat center center;
    color: whitesmoke;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);

}

#Cabecera #Logo
{
    width: 33;
    vertical-align: middle;
}

#post
{
    padding: 1em;
    background: white;
}

#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
    margin: 1em 0 0 0;
    
}
#footer
{
    background-color: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}